{% extends 'wiringcentralconfigurator_app/base.html' %}
{% load static %}
{% block content %}

    <div class="py-1 text-center">
        <p class="lead"></p>
    </div>

    <div class="row mb-4" >
        <div class="col-md-12 order-md-1">
            <div class="card p-2">
                <div class="row">
                    <div class="col-10">
                        <h4 class="mt-1">WiringCentral Configuration</h4>
                    </div>
                    <div class="col-2">
                        {% if full_access %}
                            <a href="{% url 'list_board_view' %}" type="button" class="float-right btn btn-primary" >Back</a>
                        {% else %}
                            <a href="{% url 'list_board_minimal_view' %}" type="button" class="float-right btn btn-primary" >Back</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm border-left mb-1">
            <a href="{% url 'configuration_default_rules_view' thermostatID %}" class="btn  btn-block btn-primary text-white">Default Schedules</a>
        </div>

        <div class="col-sm border-left mb-1">
            <a href="{% url 'configuration_masterslave_view' thermostatID %}" class="btn  btn-block btn-info text-white">Master/Slave Configuration</a>
        </div>

        <div class="col-sm border-left mb-1">
            <a href="{% url 'configuration_board_state_manager_view' thermostatID %}" class="btn  btn-block btn-danger text-white">State Manager</a>
        </div>
    </div>

{% endblock content %}

{% block script %}

    {{ block.super }}

{% comment %}    <script type="text/javascript">

        let ntc_option = "";

        for(let i= 1; i < 9; i++){
            ntc_option += "<option value=" + i + ">"+ i + "</option>"
        }

        let dsq8b20_option = "<option value=''></option>";

        function set_options() {

            for (let i = 0; i <= 8; i++) {
                $('#id_type_' + i).change(function () {
                    {#console.log($(this).children("option:selected").val());#}

                    if ($(this).children("option:selected").val() === 'NTC') {
                        $('#id_feed_' + i).parent().html("<select class='custom-select d-block w-100' name=feed_" + i + " id=id_feed_" + i + " required=''>" + ntc_option + "</select>");

                    } else if ($(this).children("option:selected").val() === 'DS18B20') {
                        $('#id_feed_' + i).parent().html("<select class='custom-select d-block w-100' name=feed_" + i + " id=id_feed_" + i + " required=''>" + dsq8b20_option + "</select>");
                    } else {
                        $('#id_feed_' + i).parent().html(
                            "<input type='text' class='form-control' name=feed_" + i + " id=id_feed_" + i + " required=''>");
                    }
                });
            }

        }
    </script>{% endcomment %}

{% comment %}    <script type="text/javascript">
        function update_board_details(){
            $.ajax({
                url: '{% url 'configuration_masterslave_ajax_view' %}',
                type: 'GET',
                data: {board: '{{ thermostatID }}'},
                success: function (datas) {
                    console.log(datas);
                    var board_details = '';
                    if (datas.hasOwnProperty('board_details_count')) {
                        $('#board_details_count').html(datas.board_details_count);

                        if (datas.hasOwnProperty('board_details')) {
                            {#console.log(datas.board_details);#}
                            dsq8b20_option = "";
                            for (let i = 0; i < datas.board_details_count; i++) {
                                dsq8b20_option += "<option value="+ datas.board_details[i]['SENSOR'] + ">"+ datas.board_details[i]['SENSOR'] + "</option>";

                                board_details += '<li class="list-group-item d-flex justify-content-between lh-condensed">\n' +
                                    '<div>\n' +
                                    '<h6 class="my-0">' + datas.board_details[i]['TYPE'] + '</h6>\n' +
                                    '<small class="text-muted">Serial: ' + datas.board_details[i]['SENSOR'] + '</small>\n' +
                                    '</div>\n' +
                                    '<span class="text-muted">BUS ' + datas.board_details[i]['BUS'] + '</span>\n' +
                                    '</li>';
                            }
                            $('#board_details').html(board_details);
                            set_options();
                        }
                    }
                }
            });
        }

        //update_board_details();
    </script>{% endcomment %}
{% endblock script %}
