{% extends 'wiringcentralconfigurator_app/base.html' %}
{% load static %}
{% block content %}

    <div class="py-1 text-center">
        <p class="lead"></p>
    </div>

    <div class="row mb-4" >
        <div class="col-md-12 order-md-1">
            <div class="card p-2">
                <div class="row">
                    <div class="col-10">
                        <h4 class="mt-1">Wiring Central Configurator - <span>{{ entity_name }} Sensors</span></h4>
                    </div>
                    <div class="col-2">
                        <a href="{% url 'list_board_view' %}" type="button" class="float-right btn btn-primary" >Back</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-2">

            <form method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">NTC</th>
                                <th scope="col" class="text-center">ENABLE</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for field in form %}
                                <tr>
                                    <td>{{ field.label|upper }}</td>

                                    <td class="text-center">
                                        {{ field }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">DS18B20</th>
                                <th scope="col" class="text-center">ENABLE</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, value in DS18B20_kwargs.items %}
                                <tr>
                                    <td><label for="id_{{ key }}">{{ key }}</label></td>

                                    <td class="text-center">
                                        <input type="checkbox" name="{{ key }}" id="id_{{ key }}" {% if value %}checked{% endif %}>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {#                <hr class="mb-4">#}
                <button class="btn btn-primary btn-lg btn-block" type="submit">Save Configuration</button>
            </form>
        </div>
    </div>

{% endblock content %}

{% block script %}

    {{ block.super }}

    <script type="text/javascript" src="{% static 'wiringcentralconfigurator_app/jquery/jquery-3.5.1.js' %}"></script>

{% endblock script %}
